$dark-navy: #061431;
$lightnavy: #0e3075;
$analigusnavy: #0e0631;
$white: #fff;
$green: #008000;
$lightgreen: #408000;
$purple: #800080;
$lightpurple: #853a76;
$flower: #680fa9;
$lightflower: #b684e5;
$pink: #fc1683;
$silk: #e0dbf0;
$lightblue: #0085d1;
$yellow: #e6ba01;
$bg-gradient: linear-gradient(
	180deg,
	rgba(0, 0, 0, 0.6) 0%,
	rgba(0, 0, 0, 0.3) 100%
);
$colorVar-one: #3f1e73;
$colorVar-two: #4e269f;
$colorVar-three: #2f1f74;
$colorVar-four: #0bfee3;
$colorVar-five: #ab5fed;
$colorVar-main: #fff;
